.title{
    color: blue;
    font-size: 3rem;
}
.container{
    margin: auto;
    max-width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links{
    display: flex;
    list-style: none;
    padding-left: 0%;
}
.heading{
    background-image: "https://img1.baidu.com/it/u=1526096303,4228783601&fm=253&fmt=auto&app=138&f=JPEG?w=749&h=500";
    color: rebeccapurple;
}
.nav-links-item{
    padding-right: 2rem;
}
.nav-links-text{
    color: lightseagreen;
}
.site-title{
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}